<a href="https://colab.research.google.com/github/ejigboa/My-projects/blob/main/Housing_in_mexico_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as  np
import scipy as sp
import pandas as pd

In [ ]:
houses_data = pd.DataFrame({'prices':[15000,12500,18100,28932,9000], 'square mrter': [130,112,159,229,98], 
                      'no of rooms': [3.0,2.0, 1.0,2.0,4.0]})
houses_data

   prices  square mrter  no of rooms
0   15000           130          3.0
1   12500           112          2.0
2   18100           159          1.0
3   28932           229          2.0
4    9000            98          4.0

In [ ]:
houses_data.iat[0,1]

130

In [ ]:
houses_data.at[2,'prices']

18100

To calculate the price per square meter for each house.

In [ ]:
houses_data['Price/meters'] = houses_data['prices']/houses_data['square mrter']
houses_data

   prices  square mrter  no of rooms  Price/meters
0   15000           130          3.0    115.384615
1   12500           112          2.0    111.607143
2   18100           159          1.0    113.836478
3   28932           229          2.0    126.340611
4    9000            98          4.0     91.836735

In [ ]:
###del houses_data['Price per meters'] #delete a cell
##houses_data

In [ ]:
houses_nested_list = [
    [15000, 130, 3.0],
    [12500, 112, 2.0],
    [18100, 159, 1.0],
    [28932, 229, 2.0],
    [9000, 98, 4.0]]
houses_nested_list

[[15000, 130, 3.0],
 [12500, 112, 2.0],
 [18100, 159, 1.0],
 [28932, 229, 2.0],
 [9000, 98, 4.0]]

In [ ]:
house_0_list = [15000, 130, 3.0]
house_0_list

[15000, 130, 3.0]

calculate the price per square meter for house_0

In [ ]:
house_0_price_m2 = house_0_list[0]/house_0_list[1]
house_0_price_m2

115.38461538461539

add the price per square meter to the end of the end of house_0

In [ ]:
house_0_list.append(house_0_price_m2)
house_0_list

[15000, 130, 3.0, 115.38461538461539]

In [ ]:
for h in houses_nested_list:
    homes = h[0]/h[1]
    h.append(homes)

In [ ]:
houses_nested_list

[[15000, 130, 3.0, 115.38461538461539, 115.38461538461539],
 [12500, 112, 2.0, 111.60714285714286, 111.60714285714286],
 [18100, 159, 1.0, 113.83647798742139, 113.83647798742139],
 [28932, 229, 2.0, 126.3406113537118, 126.3406113537118],
 [9000, 98, 4.0, 91.83673469387755, 91.83673469387755]]

## Dictionary

In [ ]:
house_0_dict = {
    "price_aprox_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}

house_0_dict

{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4}

In [ ]:
house_0_dict["price_per_m2"] = house_0_dict['price_aprox_usd']/house_0_dict['surface_covered_in_m2']
house_0_dict

{'price_aprox_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

In [ ]:
houses_rowwise = [
    {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_aprox_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_aprox_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

houses_rowwise

[{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_aprox_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_aprox_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_aprox_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_aprox_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [ ]:
for observation in houses_rowwise:
    observation['price_per_m22'] =  observation['price_aprox_usd']/observation['surface_covered_in_m2']
     #/observation['price_aprox_usd']

In [ ]:
##houses_rowwise

To find the average price in the estate

In [ ]:
tsum = []
for observation in houses_rowwise:
    pcc = (observation['price_aprox_usd'])
    tsum.append(pcc)
    
print (f'The average price of houses in this community is ${np.sum(tsum)/len(tsum)}')

The average price of houses in this community is $62888.35399999999